<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1><%- data.title %></h1>
    <h2> author : <%- data.author || '未知' %></h2>
    <p> 来源： <a href="<%- data.link %>"></a></p>
    <div><%- data.content %></div>
</body>
</html>
