.AppCss{
  background: white;
  height: 100%;
  margin: 0;
  padding: 0;
  &Box{
    margin: 50% 50% 50% 50%;
    width: 200px;
    display: inline-block;
    height: 200px;
    background: blue;
    color:white
  }
}
