<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>222 Hello World: My First EPUB</title>
    <link type="text/css" rel="stylesheet" media="all" href="stylesheet.css" />
  </head>
  <body>
    <h1>目录</h1>
    <p> <%- title %> </p>
    <p> <%- dateStr %> </p>
    <div style="height: 100%">
      <% for(var i = 0; i < content.length; i++) {
      %>
        <a href="./page/<%- content[i].id %>.html"><%- content[i].title %></a>
      <%
        }
      %>
    </div>
  </body>
</html>
